:root {
	--color-gray: #37474f;
	--color-gray-light: #b0bec5;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-gray);
	margin: 2rem;
	text-align: center;
}

form {
	display: none;
	padding: 10px;
	background-color: aquamarine;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

button {
	display: block;
	margin: 5px auto;
}

.form-title {
	padding-top: 20px;
}

.close {
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.wrapper-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 20rem);
	grid-template-rows: 200px;
	grid-auto-rows: 200px;
	grid-auto-columns: repeat(auto-fit, 20rem);
	justify-content: center;
}

.container {
	height: 200px;
	overflow: hidden;
	box-shadow: 0px 2px 8px 0px var(--color-gray-light);
	background-color: white;
	text-align: center;
	border-radius: 1rem;
	position: relative;
	margin: 0.5rem;
}

.title,
.author,
.pages {
	font-weight: bold;
	font-size: 1.5rem;
}

h4 {
	font-size: 18px;
}

h4:first-child {
	margin-top: 10px;
}
